{% extends "layout.html" %}
{% block title %}Add Publication{% endblock %}
{% block page %}Add Publication{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
    <form name="pubform" action="/addpublication" method="post">
        <div class="row">
            <div class="input-field col s12">
                <label for="title">Title</label>
                <input type="text" name="title" autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label for="field">Field</label>
                <select name="field">
                    <option value="0" disabled selected>Select your field</option>
                    {% for field in fields %}
                    <option value="{{loop.index}}">{{field}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="publication_date">Publication Date</label>
                <input type="text" class="datepicker" name="publication_date">
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input class="center" type="submit" value="Add Authors">
            </div>
        </div>
    </form>
{% endblock %}