{% extends "layout.html" %}
{% block title %}Add Author{% endblock %}
{% block page %}Add Author{% endblock %}

{% block content %}
    <form action="/{{id}}/addauthors" method="post" id="authors_form" class="collection">
        <div class="row collection-item valign-wrapper">
            <div class="col s1">1</div>
            <div class="col s3 input-field">
                <label for="fname">First Name</label>
                <input class="input-field col s12" type="text" name="fname">
            </div>
        
            <div class="col s4 input-field">
                <label for="lname">Last Name</label>
                <input class="input-field col s12" type="text" name="lname">
            </div>

            <div class="col s4 input-field">
                <label for="email">Email</label>
                <input class="input-field col s12" type="text" name="email">
            </div>
        </div>
    </form>
    <a class="btn-floating right" onclick="add_author()">
        <i class="material-icons">add</i>
    </a>
    <a style="margin-right: 8px;" class="btn-floating right" onclick="remove_author()">
        <i class="material-icons">delete</i>
    </a>
    <div class="center">
        <button class="btn waves-effect waves-light" form="authors_form" type="submit">Submit</button>
    </div>
    
{% endblock %}