{% extends "layout.html" %}
{% block title %}{{author.first_name}} {{author.last_name}}{% endblock %}
{% block page %}{{author.first_name}} {{author.last_name}}{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
  <div class="row">
    <img style="display: block; margin: auto; width: min(60%, 450px);" class="responsive-img col s6" src="https://thispersondoesnotexist.com/image" 
      alt="Author Image">
    <div class="col s6" style="font-size: large;">
      <div class="row">
        <div class="col s12">Name:  {{author.first_name}} {{author.last_name}}</div>
      </div>
      <div class="row">
          <div class="col s12">Email:  {{author.email}}</div>
      </div>
      <div class="row">
        <div class="col s12">Publications:</div>
    </div>
      <ul class="collection" style="margin-top: 20%;">
        <div class="row">
          {% for publication in publications %}
          <li class="collection-item avatar col s1">
              <img src="https://thisartworkdoesnotexist.com/image" alt="Publication Cover Image">
              <span class="title">{{publication.title}}</span>
          </li>
          {% endfor %}
        </div>
      </ul>
    </div>
  </div>
{% endblock %}
