{% extends "layout.html" %}
{% block title %}{{author.first_name}} {{author.last_name}}{% endblock %}
{% block page %}{{author.first_name}} {{author.last_name}}{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
  <div class="row">
    <img style="display: block; margin: auto; width: min(60%, 450px);" class="responsive-img col s6" src="https://thispersondoesnotexist.com/image" 
      alt="Author Image">
    <div class="col s6" style="font-size: large;">
      <div class="row">
        <div class="col s12">Name:  {{author.first_name}} {{author.last_name}}</div>
      </div>
      <div class="row">
          <div class="col s12">Email:  {{author.email}}</div>
      </div>
      <div class="row">
        <div class="col s6">Publications:</div>
        <a class="btn-floating right" href="/{{author.id}}/addpublication"><i class="material-icons">add</i></a>
      </div>

      <div class="divider"></div>
      <ul>
          <div class="collection">
              {% for publication in publications %}
              <li class="card col center">
                  <a href="/publication/{{publication.id}}">
                      <img style="height: 100px; margin-top: 20px;" src="https://thisartworkdoesnotexist.com" alt="Publication Cover Image">
                      <div style="text-decoration: none; color: black;" class="center">{{publication.title}}</div>
                  </a>
              </li>
              {% endfor %}
          </div>
      </ul>
      <a href="/{{author.id}}/pubtree" class="btn center">View Publication Tree</a>
    </div>
  </div>
{% endblock %}
