{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block page %}Home{% endblock %}


{% block content %}
<h1 style='font-size:medium;'><center>UWI Research <cheggers style='font: size 15px; font:strong;'>By Cheggers United</cheggers> </center></h1>
    <br>
        <p><center>Home of up to {{publication.get_all_publications_json().length}} different research papers, just a search away</center> </p>
    <br><br>

    <div class="topnav" sytle=' overflow: hidden;'>
        <a class="active" href="#" style='float:left; display:block; text-align:center; padding: 20px 20px; font-size:medium'>Author</a>
        <a href="#" style='float:left; display:block; text-align:center; padding: 20px 20px; font-size:medium'>Publications</a>
        <input type="text" placeholder="Search library">
      </div>


{% endblock %}
