{% extends "layout.html" %}
{% block title %}Publication Tree{% endblock %}
{% block page %}Publication Tree{% endblock %}
{% block nav %}{% endblock %}

{% macro pubtree(root) %}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">{{root.node.first_name}} {{root.node.last_name}}</div>
            {% if root.children | length %}
                <div class="collapsible-body indigo lighten-5">
                    {% for child in root.children %}
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">{{child.node.title}}</div>
                                {% if child.children | length %}
                                    <div class="collapsible-body pink lighten-5">
                                            {% for author in child.children %}
                                                {{ pubtree(author) }}
                                            {% endfor %}
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}
        </li>
    </ul>
{% endmacro %}

{% block content %}
    <div class="container">
        {{ pubtree( root ) }}
    </div>
{% endblock %}