{% extends "layout.html" %}
{% block title %}Publication Tree{% endblock %}
{% block page %}Publication Tree{% endblock %}
{% block nav %}{% endblock %}

{% macro pubtree(root) %}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">{{root.node.first_name}} {{root.node.last_name}}</div>
            <div class="collapsible-body">
            {% if root.children | length %}
                {% for child in root.children %}
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">{{child.node.title}}</div>
                            <div class="collapsible-body">
                                {% if child.children | length %}
                                    {% for author in child.children %}
                                        {{ pubtree(author) }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            </div>
        </li>
    </ul>
{% endmacro %}

{% block content %}
    {{ pubtree( root ) }}
{% endblock %}